/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* INSERIMENTO FONT VALIDO PER TUTTA LA PAGINA */
body {
  font-family: "Open Sans", sans-serif;
  width: 1350px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
}
p {
  font-weight: 400;
  font-size: 12px;
}
h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
h2 {
  font-size: 30px;
}
a {
  color: rgb(59, 59, 255);
}
path {
  fill: white;
}
footer {
  background-color: black;
  color: white;
  height: 500px;
}
button {
  border: none;
}
ol li {
  list-style-type: none;
}
ol li a {
  text-decoration: none;
  color: white;
}
/* NAV HEADER */
.heading {
  padding: 20px;
  height: 64px;
  position: fixed;
  background-color: white;
  width: 1350px;
  z-index: 10;
}
.heading ul > li {
  border-bottom: 1px solid transparent;
}
.heading ul > li > a {
  padding: 20px;
  text-decoration: none;
  color: black;
}
.heading img {
  margin-right: 20px;
  vertical-align: middle;
}
.heading button {
  margin-left: 20px;
  width: 65px;
  height: 30px;
  vertical-align: middle;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  min-width: 195px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 40px;
  border-radius: 0 0 10px 10px;
}

/* JUMBO SECTION */
.jumbotron {
  height: 650px;
  background-color: rgb(167, 192, 207);
  padding-top: 60px;
}

.main-jumbotron {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
}
.main-jumbotron .l-side-jumbo {
  width: 30%;
  margin-right: 50px;
}

.main-jumbotron .r-side-jumbo {
  width: calc(70% - 50px);
}
.main-jumbotron img {
  width: 700px;
}
.l-side-jumbo p {
  margin-bottom: 20px;
}
.l-side-jumbo button {
  padding: 7px 20px;
  margin-bottom: 10px;
}
.blue-btn {
  background-color: rgb(59, 59, 255);
  color: white;
  transition-duration: 0.3s;
}

.fa-arrow-down {
  font-size: 30px;
}
.r-side-jumbo img {
  transition: 0.4s ease-in;
}
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Main con leggermente piu` margine
   dell main-header */
.main-container {
  width: 70%;
  margin: 0 auto 30px auto;
}

/* SEZIONE PIANI DI PAGAMENTO */

.pay {
  margin-top: 80px;
  padding-top: 70px;
  margin-bottom: 50px;
}
.radio-btn {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 20px 20px 20px 0;
  cursor: pointer;
  font-size: 22px;
}
/* nasconto il radiobtn di defult */
.radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Adesso creo effettivamente il radiobtn */
.radio-new {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* metto il background + scuro quando metto il mouse sul pallino */
.radio-btn:hover input ~ .radio-new {
  background-color: #ccc;
}
/* quando e cliccato metto il bg blu */
.radio-btn input:checked ~ .radio-new {
  background-color: #2196f3;
}
/* creo il pallino quando non e` cliccato */
.radio-new::after {
  content: "";
  position: absolute;
  display: none;
}
/* mostro il pallino quando clicco */
.radio-btn input:checked ~ .radio-new::after {
  display: block;
}
/* creo los tile del pallino */
.radio-btn .radio-new::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.column-pay {
  width: 30%;
  transition-duration: 0.3s;
}
.float-pay .column-pay:nth-child(2) {
  margin: 0 5%;
}

.headline-pay {
  padding: 10px 0;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
}
.pay-container {
  padding: 40px 30px;
  border: 1px solid rgb(196, 196, 196);
  border-top: none;
  height: 950px;
}

.price-bold {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.grey {
  color: rgb(176, 172, 172);
}
.price {
  margin-bottom: 50px;
}
.main-pay p {
  margin-bottom: 25px;
}
.fa-pencil-alt {
  height: 20px;
  margin-right: 2px;
}
.test-btn {
  padding: 10px 31px;
  margin: 20px 0;
}
.main-pay p > a {
  color: rgb(59, 59, 255);
}
.bar {
  color: rgb(196, 196, 196);
}

.fa-check {
  color: rgb(59, 59, 255);
  height: 20px;
  margin-right: 2px;
}
.main-pay h4 {
  margin-bottom: 20px;
}
/* SEZIONE CONTACT */
.headline-contact {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  border-left: 1px solid rgb(196, 196, 196);
}
.contact {
  border: 1px solid rgb(196, 196, 196);
  padding: 20px;
  margin-bottom: 80px;
}
.large-btn {
  padding: 10px 60px;
  border: none;
  transition-duration: 0.3s;
}

.contact p:first-of-type {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}
/* SEZIONE PARTNER */
.partner {
  margin-bottom: 70px;
}
.l-side-partner {
  width: 50%;
}
.l-side-partner img {
  width: 500px;
  transition: 0.4s ease-in;
}
.r-side-partner {
  width: 50%;
  padding: 30px 0 0 85px;
}
.r-side-partner > p {
  padding-bottom: 20px;
}
.r-side-partner button {
  padding: 7px 17px;
  border: 1px solid black;
  background-color: white;
  transition-duration: 0.3s;
}
/* Sezione Operations */

.operations-row {
  padding-top: 40px;
  margin-bottom: 60px;
}
.operations-row .column-pay:nth-child(2) {
  margin: 0 5%;
}
.operations-row img {
  width: 300px;
  text-align: center;
}

.user-team {
  padding-top: 50px;
}
.user-team {
  padding-top: 50px;
}
.user-team p {
  padding: 20px 0;
}

/* Sezione Brand */

.square-brand {
  width: 28%;
}
.square {
  width: 50%;
}
.middle-square {
  width: 44%;
  background-color: rgb(244, 234, 214);
  padding: 20px 50px;
  height: 360px;
  position: relative;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background-color: black;
  animation: caricamento 5s infinite cubic-bezier(0.18, 0.84, 0.68, 0.21);
}
@keyframes caricamento {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.designt {
  background-color: rgb(160, 209, 160);
  height: 180px;
}
.designt svg {
  padding: 35px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}
.asu {
  background-color: rgb(112, 18, 18);
  height: 180px;
}
.asu svg {
  padding: 50px 30px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}
.florida {
  height: 180px;
  background-color: rgb(37, 144, 186);
  padding: 75px 40px;
  border: 10px solid transparent;
}
.florida img {
  width: 110px;
  filter: invert(1);
}

.topps {
  background-color: red;
  height: 180px;
}
.topps svg {
  padding: 60px 40px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}

.middle-square svg {
  width: 150px;
  height: 70px;
}
.middle-square path {
  fill: black;
}

.middle-square p {
  margin-bottom: 45px;
}
.bicycle {
  background-color: rgb(146, 1, 1);
  height: 180px;
}
.bicycle svg {
  padding: 35px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}
.hearst {
  background-color: rgb(167, 192, 207);
  height: 180px;
}
.hearst svg {
  padding: 35px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}
.planet {
  background-color: rgb(1, 1, 100);
  height: 180px;
}
.planet svg {
  padding: 35px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}
.clear-channel {
  background-color: gold;
  height: 180px;
}
.clear-channel svg {
  padding: 40px;
  width: 100%;
  height: 180px;
  border: 10px solid transparent;
}

/* SEZIONE PROVA GARTUITA */

.trial {
  background-color: rgb(167, 192, 207);
  height: 270px;
  padding: 90px 0;
}
.trial .fl {
  width: 40%;
  color: rgb(69, 12, 12);
}

/* SEZIONE FAQ */

.faq {
  margin-top: 100px;
  margin-bottom: 100px;
}
.faq h3 {
  font-size: 28px;
  margin-bottom: 30px;
}
.ask {
  line-height: 90px;
  border-top: 1px solid rgb(215, 213, 213);
}
.ask p {
  font-weight: bold;
  border-bottom: 1px solid rgb(215, 213, 213);
}
.ask .fa-angle-down {
  padding-right: 30px;
}
.hidden {
  display: none;
  color: rgb(159, 158, 158);
  line-height: 25px;
  font-weight: bold;
}
/* FOOTER */

.foot ul > li {
  display: block;
  line-height: 30px;
}
.foot h4 {
  font-size: 23px;
  margin-bottom: 20px;
}
.foot .fl {
  width: 20%;
  margin-bottom: 40px;
  padding-top: 15px;
}
.line {
  background-color: white;
  height: 1px;
  width: 14%;
  margin-bottom: 40px;
}
.lang {
  color: grey;
}
.foot ul li > a {
  text-decoration: none;
  color: white;
}
.dropup {
  position: relative;
}
.dropup-content {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50px;
  background-color: rgb(27, 27, 27);
  border: 1px solid white;
  min-width: 180px;
  min-height: 150px;
  z-index: 1;
  line-height: 50px;
  border-radius: 5px;

  text-align: center;
}

/* HOVER SECTION */

.l-side-jumbo .blue-btn:hover {
  transform: scale(1.3);
}
.blue-btn:hover {
  background-color: rgb(110, 110, 246);
  border-radius: 30px;
}
.trial .large-btn:hover {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.r-side-partner button:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.column-pay:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  background-color: white;
  border-radius: 20px;
}
nav ul li a:hover {
  border-bottom: 3px solid black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content li a {
  border-bottom: none;
}
.dropdown .dropdown-content li:hover {
  background-color: rgb(237, 236, 236);
  font-weight: bold;
  border-radius: 10px;
  display: block;
}
.l-side-partner img:hover {
  border-radius: 30px;
  transform: scale(1.1);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.r-side-jumbo img:hover {
  border-radius: 30px;
  transform: scale(1.1);
}

.radio-btn .radio:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

/* hover brand */

.square.designt svg:hover {
  border: 10px solid rgb(199, 246, 199);
}
.square.asu svg:hover {
  border: 10px solid rgb(168, 87, 87);
}
.square.florida:hover {
  border: 10px solid rgb(120, 180, 203);
}
.square.topps svg:hover {
  border: 10px solid rgb(255, 116, 116);
}
.square.bicycle svg:hover {
  border: 10px solid rgb(132, 104, 104);
}
.square.hearst svg:hover {
  border: 10px solid rgb(74, 158, 210);
}
.square.planet svg:hover {
  border: 10px solid rgb(48, 48, 88);
}
.square.clear-channel svg:hover {
  border: 10px solid rgb(253, 243, 189);
}
.ask .no-hidden:hover .hidden {
  display: block;
  border-bottom: 1px solid rgb(215, 213, 213);
}
.ask .no-hidden:hover p {
  border: none;
}
.dropup:hover .dropup-content {
  display: block;
}
ol li:hover {
  font-weight: bold;
  background-color: rgb(185, 185, 185);
  width: 100%;
}

#title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
}
