/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* INSERIMENTO FONT VALIDO PER TUTTA LA PAGINA */
body {
  font-family: "Open Sans", sans-serif;
  width: 1350px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
}
p {
  font-weight: 400;
  font-size: 12px;
}
h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
h2 {
  font-size: 30px;
}
a {
  color: rgb(59, 59, 255);
}
path {
  fill: white;
}
/* NAV HEADER */
.heading {
  padding: 20px;
  height: 100px;
}

.heading ul > li > a {
  padding: 20px;
  text-decoration: none;
  color: black;
}
.heading img {
  margin-right: 20px;
  vertical-align: middle;
}
.heading button {
  margin-left: 20px;
  width: 65px;
  height: 30px;
  vertical-align: middle;
}

/* JUMBO SECTION */
.jumbotron {
  height: 600px;
  background-color: lightblue;
}

.main-jumbotron {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
}
.main-jumbotron .l-side-jumbo {
  width: 30%;
  margin-right: 50px;
}

.main-jumbotron .r-side-jumbo {
  width: calc(70% - 50px);
}
.main-jumbotron img {
  width: 700px;
}
.l-side-jumbo p {
  margin-bottom: 20px;
}
.l-side-jumbo button {
  padding: 7px 20px;
  margin-bottom: 10px;
}
.blue-btn {
  background-color: rgb(59, 59, 255);
  color: white;
  border: none;
}
.fa-arrow-down {
  font-size: 30px;
}
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Main con leggermente piu` margine
   dell main-header */
.main-container {
  width: 70%;
  margin: 80px auto;
}

/* SEZIONE PIANI DI PAGAMENTO */

.pay {
  padding-top: 70px;
  margin-bottom: 50px;
}

.radio-btn {
  padding-top: 30px;
  padding-bottom: 20px;
}
.radio-btn p {
  margin-right: 10px;
  display: inline-block;
}
.column-pay {
  width: 30%;
}
.float-pay .column-pay:nth-child(2) {
  margin: 0 5%;
}

.headline-pay {
  padding: 10px 0;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
}
.pay-container {
  padding: 40px 30px;
  border: 1px solid rgb(196, 196, 196);
  border-top: none;
  height: 950px;
}

.price-bold {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.grey {
  color: rgb(176, 172, 172);
}
.price {
  margin-bottom: 50px;
}
.main-pay p {
  margin-bottom: 25px;
}
.fa-pencil-alt {
  height: 20px;
  margin-right: 2px;
}
.test-btn {
  padding: 10px 31px;
  margin: 20px 0;
}
.main-pay p > a {
  color: rgb(59, 59, 255);
}
.bar {
  color: rgb(196, 196, 196);
}

.fa-check {
  color: rgb(59, 59, 255);
  height: 20px;
  margin-right: 2px;
}
.main-pay h4 {
  margin-bottom: 20px;
}
/* SEZIONE CONTACT */
.headline-contact {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  border-left: 1px solid rgb(196, 196, 196);
}
.contact {
  border: 1px solid rgb(196, 196, 196);
  padding: 20px;
  margin-bottom: 80px;
}
.contact button {
  padding: 10px 60px;
}
.contact p:first-of-type {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}
/* SEZIONE PARTNER */
.partner {
  margin-bottom: 70px;
}
.l-side-partner {
  width: 50%;
}
.l-side-partner img {
  width: 500px;
}
.r-side-partner {
  width: 50%;
  padding: 30px 0 0 85px;
}
.r-side-partner > p {
  padding-bottom: 20px;
}
.r-side-partner button {
  padding: 7px 17px;
  border: 1px solid black;
  background-color: white;
}
/* Sezione Operations */

.operations-row {
  padding-top: 40px;
  margin-bottom: 60px;
}
.operations-row .column-pay:nth-child(2) {
  margin: 0 5%;
}
.operations-row img {
  width: 300px;
  text-align: center;
}

.user-team {
  padding-top: 50px;
}
.user-team {
  padding-top: 50px;
}
.user-team p {
  padding: 20px 0;
}

/* Sezione Brand */

.square-brand {
  width: 28%;
}
.square {
  width: 50%;
}
.middle-square {
  width: 44%;
  background-color: rgb(244, 234, 214);
  padding: 20px 50px;
  height: 360px;
}
.designt {
  background-color: rgb(160, 209, 160);
  height: 180px;
  border: 10px solid rgb(199, 246, 199);
}
.designt svg {
  padding: 35px;
  width: 100%;
  height: 180px;
}
.asu {
  background-color: rgb(112, 18, 18);
  height: 180px;
}
.asu svg {
  padding: 60px 40px;
  width: 100%;
  height: 180px;
}
.florida {
  background-color: skyblue;
  height: 180px;
  box-sizing: border-box;
}
.florida svg {
  width: 100%;
  height: 180px;
  padding: 70px 0;
}
.topps {
  background-color: red;
  height: 180px;
}
.topps svg {
  padding: 60px 40px;
  width: 100%;
  height: 180px;
}

.middle-square svg {
  width: 150px;
  height: 70px;
}
.middle-square path {
  fill: black;
}

.middle-square p {
  margin-bottom: 45px;
}
.bicycle {
  background-color: rgb(146, 1, 1);
  height: 180px;
}
.bicycle svg {
  padding: 35px;
  width: 100%;
  height: 180px;
}
.hearst {
  background-color: rgb(158, 200, 225);
  height: 180px;
}
.hearst svg {
  padding: 35px;
  width: 100%;
  height: 180px;
}
.planet {
  background-color: rgb(1, 1, 100);
  height: 180px;
}
.planet svg {
  padding: 45px;
  width: 100%;
  height: 180px;
}
.clear-channel {
  background-color: gold;
  height: 180px;
}
.clear-channel svg {
  padding: 40px;
  width: 100%;
  height: 180px;
}
#title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
}
