/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* INSERIMENTO FONT VALIDO PER TUTTA LA PAGINA */
body{
    font-family: 'Open Sans', sans-serif;
    width: 1350px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    
}
ul>li{
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
}
p{
    font-weight: 400;
    font-size: 12px;
}
h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.heading{
    padding: 20px;
    height: 100px;
}

.heading ul>li>a{
    padding: 20px;
    text-decoration: none;
    color: black;
    
}
.heading img{
    margin-right: 20px;
    vertical-align: middle;
}
.heading button{
    margin-left: 20px;
    width: 65px;
    height: 30px;
    vertical-align: middle;
}
.jumbotron{
    height: 600px;
    background-color: lightblue;
}

.main-jumbotron{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}
.main-jumbotron .l-side-jumbo{
    width: 30%;
    margin-right: 50px;

}

.main-jumbotron .r-side-jumbo{
    width: calc(70% - 50px);
    
}
.main-jumbotron img{
    width: 700px;
    
    
}
.l-side-jumbo p{
    margin-bottom: 20px;
}
.l-side-jumbo button{
    padding: 7px 20px;
    margin-bottom: 10px;
}
.blue-btn{
    background-color: rgb(59, 59, 255);
    color: white;
    border: none;
}
.fa-arrow-down{
    font-size: 30px;
}
/* FLOAT */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.main-container{

    width: 70%;
    margin: 80px auto;
}

.pay{
    padding-top: 70px;
    margin-bottom: 50px;
}

.radio-btn{
    padding-top: 30px;
    padding-bottom: 20px;
}
.radio-btn p{
    margin-right: 10px;
    display: inline-block;
}
.column-pay{
    width: 30%;
    
}
.float-pay .column-pay:nth-child(2){
    margin: 0 5%;
}

.headline-pay{
    padding: 10px 0;
    text-align: center;
    border: 1px solid rgb(196, 196, 196);
}
.pay-container{
    padding: 40px 30px;
    border: 1px solid rgb(196, 196, 196);
    border-top: none;
    height: 950px;
}
.pay h2{
    font-size: 35px;
}

.price-bold{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
}

.grey{
    color: grey;
}
.price{
    margin-bottom: 50px;
}
.main-pay p{
    margin-bottom: 25px;
}
.fa-pencil-alt{
    height: 20px;
    margin-right: 2px;
   
}
.test-btn{
    padding: 10px 31px;
    margin: 20px 0;
}
.main-pay p>a{
    color:rgb(59, 59, 255); 
}
.bar{
    color: rgb(196, 196, 196);
    
}

.fa-check{
    color:rgb(59, 59, 255);
    height: 20px;
    margin-right: 2px;
}
.main-pay h4{
    margin-bottom: 20px;
}
.headline-contact{
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgb(196, 196, 196);
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    
} 
.contact{
    border: 1px solid rgb(196, 196, 196);
    padding: 20px;
}
.contact button{
    padding: 10px 60px;
}
.contact p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px;
}
#title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
    
}
